body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background: #ece7e7;
}

.form-control {
  margin-top: 0.25em;
}

.form-control:focus {
  border-color: #3a1f36;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(238, 146, 215, 0.555);
}

.btn-outline-primary:hover{
  color: #ffffff;
}

.cursor-pointer {
  cursor: pointer;
}

.vh-20 {
  height: 20vh;
}

.vh-25 {
  height: 25vh;
}

.h-35 {
  height: 35%;
}

.h-65 {
  height: 65%;
}

.w-90 {
  width: 90%;
}

.mt-8 {
  margin-top: 6.5em;
}
