body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background: #ece7e7;
}

.cursor-pointer {
  cursor: pointer;
}

.vh-20 {
  height: 20vh;
}

.vh-25 {
  height: 25vh;
}

.h-35 {
  height: 35%;
}

.h-65 {
  height: 65%;
}
